body {
  margin: 10% 10%;
  border-style: dotted;
    margin: 20px;
    padding: 30px;
  background-image: linear-gradient(to right, #7777, white)
}
h1 {
  color: #333333;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: turquoise;
  text-shadow: 1px 1px navy;
  box-shadow: 4px 4px blue;
}
img {
  width: 50%;
  margin-right: 25%;
  margin-left:25%
  
  }

.profiles {border: solid;
  text-align: center;
  font-size: 18px;
}

.extrusion {text-align: center;
  font-size: 12px;
    font-style:}
.pennsylvania {text-align: center;
    font-size: 12px}
